* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {

    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0;
}




@media (max-width: 576px) {

    .backimage {
        height: 20vh;
        background-size: cover;
        font-size: 2em;
        /* background-size: 100%; */
    }

    #navbar {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        height: 3em;
    }


    .logo {

        font-size: 2.1rem;
        color: blue;
        font-weight: 600;
    }

    .right-sidenav {
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        gap: 1em;

    }

    footer {
        align-items: center;
        margin-top: 4rem;
        background-color: #1e1e1e;
        color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .foot {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 87vw;
        margin-left: auto;
        margin-right: auto;
    }



    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1em;
    }

    .social div {
        display: flex;

        gap: 1.5em;
    }

    .copyright {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        margin-bottom: 1em;
    }

    .p1 {
        max-width: 90vw;
        text-align: center;
        font-size: 1.1rem;
    }

    .p2 {
        margin-top: 2rem;
        max-width: 90vw;
        font-size: 1.1rem;
        text-align: center;
    }


    .pic {
        width: 95%;


    }



}


@media (min-width:780px) {

    .backimage {
        height: 70vh;
        background-size: cover;
        font-size: 3.5em;
    }

    .logo {

        font-size: 3.2rem;
        color: blue;
        font-weight: 600;
    }

    #navbar {
        width: 96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        height: 5em;
    }

    .right-sidenav {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        gap: 2em;

    }

    footer {
        margin-top: 4rem;
        background-color: #1e1e1e;
        color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 87vw;
        margin-left: auto;
        margin-right: auto;
    }



    .social {
        display: flex;
        justify-content: space-between;
    }

    .social div {
        display: flex;
        gap: 1.5em;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
    }

    .service {
        display: flex;
        gap: 1.5em;
    }


    .p1 {
        max-width: 65vw;
        text-align: center;
        font-size: 1.1rem;
    }

    .p2 {
        margin-top: 2rem;
        max-width: 65vw;
        font-size: 1.1rem;
        text-align: center;
    }


    .pic {
        width: 27%;


    }


}


.navbar a {
    text-decoration: none;
    color: black;
}

.service li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.backimage {
    width: 100vw;
    /* height: 550px; */
    /* background-image: url('https://cdn.prod.website-files.com/66ba0cbc63210953b4fc73a8/66c86592baefa425f1780757_games_page_hero%202.webp'); */

    background-repeat: no-repeat;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://cdn.prod.website-files.com/66ba0cbc63210953b4fc73a8/66ba0cbc63210953b4fc74c5_careers.webp")center/cover no-repeat;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.pic img {
    width: 100%;
}

.pic,
button {
    text-align: center;
}

.pic h2,
button {
    margin-top: 1em;
}

button {
    background-color: blue;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    border: none;
    outline: none;
    border-radius: 80px;
    color: white;
    font-size: 1em;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    background-color: #f5f5f7;
    padding-top: 5em;
    padding-bottom: 5em;

}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  padding: 10px 0;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}