html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}


.navbar {
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0;
}

@media (max-width: 476px){
     .logo {

        font-size: 1rem;
        color: blue;
       
    }
}

@media (max-width: 576px) {

    #navbar {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        height: 3em;
    }


    .logo {

        font-size: 2.1rem;
        color: blue;
        font-weight: 600;
    }

    .right-sidenav {
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        gap: 1em;

    }


    .aboutus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 4rem;
    }


    .about {
        width: 100%;
    }


    .left {
        width: 95%;
    }

    .left img {
        width: 100%;
        margin-top: 1em;
    }

    .right {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }


    .games {
        margin-top: 2em;
        padding-top: 2rem;
        padding-bottom: 3rem;
        width: 100vw;
        background: #f5f5f7;
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 2em;

    }

    .heading {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .para {
        font-size: 1.2rem;
        max-width: 80vw;
    }

    .photo2 {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .photo {
        width: 95%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .photo img {
        width: 100%;
    }


    footer {
        align-items: center;
        margin-top: 4rem;
        background-color: #1e1e1e;
        color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .foot {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 87vw;
        margin-left: auto;
        margin-right: auto;
    }



    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1em;
    }

    .social div {
        display: flex;

        gap: 1.5em;
    }

    .copyright {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        margin-bottom: 1em;
    }

    .pic {
        width: 95%;


    }


}

@media (min-width:577px) and (max-width:768px) {

    #navbar {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        height: 3em;
    }


    .logo {

        font-size: 2.1rem;
        color: blue;
        font-weight: 600;
    }

    .right-sidenav {
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        gap: 1em;

    }


    .aboutus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 4rem;
        width: 100vw;
    }


    .about {
        width: 100%;
    }


    .left {
        width: 95%;
    }

    .left img {
        width: 100%;
        margin-top: 1em;
    }

    .right {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }


    .games {
        margin-top: 2em;
        padding-top: 2rem;
        padding-bottom: 3rem;
        width: 100vw;
        background: #f5f5f7;
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 2em;

    }

    .heading {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .para {
        font-size: 1.2rem;
        max-width: 80vw;
    }

    .photo2 {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .photo {
        width: 95%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .photo img {
        width: 100%;
    }


    footer {
        align-items: center;
        margin-top: 4rem;
        background-color: #1e1e1e;
        color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .foot {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 87vw;
        margin-left: auto;
        margin-right: auto;
    }



    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1em;
    }

    .social div {
        display: flex;

        gap: 1.5em;
    }

    .copyright {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        margin-bottom: 1em;
    }

    .pic {
        width: 95%;


    }


}



/* --------------------------- Destop --------------------------- */

@media (min-width:769px) {
    .logo {

        font-size: 3.2rem;
        color: blue;
        font-weight: 600;
    }

    #navbar {
        width: 96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        height: 5em;
    }

    .right-sidenav {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        gap: 2em;

    }


    .aboutus {
        display: flex;

        justify-content: center;
        justify-content: space-evenly;
        margin-top: 5em;
    }


    .about {
        width: 100%;
    }


    .left {
        width: 43%;
    }

    .left img {
        width: 100%;
    }

    .right {
        width: 37%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
    }


    .games {
        padding-top: 2rem;
        padding-bottom: 3rem;
        width: 100vw;
        background: #f5f5f7;
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 2em;

    }

    .heading {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .para {
        font-size: 1.2rem;
        max-width: 80vw;
    }

    .photo2 {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .photo {
        width: 41%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .photo img {
        width: 100%;
    }



    footer {
        margin-top: 4rem;
        background-color: #1e1e1e;
        color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 87vw;
        margin-left: auto;
        margin-right: auto;
    }



    .social {
        display: flex;
        justify-content: space-between;
    }

    .social div {
        display: flex;
        gap: 1.5em;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
    }

    .service {
        display: flex;
        gap: 1.5em;
    }
    .pic {
        width: 27%;


    }


}



/* ---------------------------------------------------------------------------------- */
.navbar a {
    text-decoration: none;
    color: black;
}


.cartoon {
    width: 100vw;
    padding-top: 4em;
    padding-bottom: 4em;

    margin-top: 1em;
    background-image: linear-gradient(#6d7787, #eaeff5);
    display: flex;
    justify-content: center;
}

.cartoon img {
    width: 80%;

}

h2 {
    opacity: 0.8;
    font-size: 2rem;
}



.btn {
    width: 11em;
    padding: 1.2em;
    border-radius: 1.6em;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;
}


.btn3 {
    width: 11rem;
}

.service li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.news {
    padding: 60px 20px;
    text-align: center;
}

.news h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 40px;
    max-width: 1100px;
    margin-inline: auto;
}

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h4 {
    color: #666;
    font-size: 0.9rem;
    margin: 10px 15px 0;
    text-transform: uppercase;
}

.card p {
    margin: 5px 15px 15px;
    font-size: 0.95rem;
}

.card a {
    display: block;
    color: #2c64ff;
    text-decoration: none;
    margin: 0 15px 15px;
    font-weight: 600;
}




.pic img {
    width: 100%;
}

.pic,
button {
    text-align: center;
}

.pic h2,
button {
    margin-top: 1em;
}

button {
    background-color: blue;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    border: none;
    outline: none;
    border-radius: 80px;
    color: white;
    font-size: 1em;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    background-color: #f5f5f7;
    padding-top: 5em;
    padding-bottom: 5em;

}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  padding: 10px 0;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}